* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

.container {
  font-family: var(--font-geist-sans);
}


body {
  background-color: #FFFFFF;
}

a {
  color: inherit;
  text-decoration: none;
  margin-bottom: 25px;
}

hr{
  margin: 30px 0px;
}

li {
  list-style: none;
  margin-bottom: 88px;
  img {
    margin-bottom: 25px;
  } 
  h5 {
    font-size: 12px;
    font-weight: 700;
    line-height: 14.88px;
    letter-spacing: 1.8461538553237915px;
    text-align: left;
    color: #FF7E1B;
    margin-bottom: 20px;
  }
  h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    margin-bottom: 15px;
  }
  p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    margin-bottom: 24px;
    color: #69707D;
  }
  span {
    display: flex;
    gap: 22px;
    margin-bottom: 24px;
    align-items: baseline;
  }
  h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 34.73px;
    text-align: left;
    color: #1D2026;
  }
  h4 {
    font-size: 16px;
    font-weight: 700;
    line-height: 19.84px;
    text-align: left;
    color: #FF7E1B;
    background-color: #FFEEE2;
    padding: 4px 6px;
    border-radius: 8px;
  }
}

.container {
  padding: 20px 20px;
  width: 375px;
  margin: 0 auto;
}

.Nav {
  display: flex;
  gap: 8px;
  margin-bottom: 25px;
  align-items: center;
  a {
    color: #69707D;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
  }
  h1 {
    font-size: 36px;
    font-weight: 800;
  }
}

.BudgetBtns {
  display: flex;
  background-color: #F6F8FD;
  color: #1D2026;
  justify-content: space-between;
  border-radius: 12px;
  align-items: baseline;
  margin-bottom: 16px;
  width: 327px;
  button {
    background: unset;
    border: unset;
    padding: 16px 20px;
  }
}

.AddBtn {
  background-color: #FF7E1B;
  color: #FFFFFF;
  box-shadow: 0px 20px 50px -20px #FF7E1B;
  border: 2px solid #FF7E1B;
  justify-content: space-between;
  border-radius: 12px;
  align-items: baseline;
  padding: 18px 100px;
  width: 327px;
}

.detail {
  font-size: 14px;
  font-weight: 700;
  line-height: 19.84px;
  text-align: left;
  color: #FFEEE2;
  padding: 4px 6px;
  border-radius: 8px;
  background-color: #FF7E1B;
  margin-bottom: 15px;
}

.font-extrabold {
  color: #FF7E1B;
  margin-bottom: 20px;
}

.ProductDetails {
  h2{
    color: #69707D;
    margin-bottom: 5px;
  }
}

.comments-list {
  color: #69707D;
  margin-bottom: 4px;
  p{
    margin-bottom: 2px;
  }
}

.Comments {
  margin: 0 auto;
  h5 {
    color: #69707D;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 500;
  }
}

.alisverissepeti {
  background-color: unset;
  border: unset;
  font-size: 20px;
  cursor: pointer;
}

.Nav {
  display: flex;
  flex-direction: column;
}

.Link {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  a {
    text-align: center;
  }
}

@media(width >= 768px) {
  .container {
    margin: 0 auto;
    width: 778px;
    padding: 25px;
  }

  .ProductsContainer ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .ProductDetails {
    display: flex;
    gap: 70px;
    align-items: baseline;
  }

  .alisverissepeti {
    background-color: unset;
    border: unset;
    font-size: 20px;
  }

  .Nav {
    display: flex;
    gap: 36px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
  }

  .Link {
    display: flex;
    gap: 30px;
  }

}


@media(width >= 1110px) {
  .container {
    margin: 0 auto;
    width: 1440px;
    padding: 30px;
  }
  
  .Nav {
    display: flex;
    gap: 297px;
    margin-bottom: 50px;
    align-items: baseline;
    justify-content: space-around;
    flex-direction: row;
  }

  .Link {
    display: flex;
    gap: 30px;
  }

  .ProductsContainer ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    .detail a {
      margin-bottom: 15px;
    }
  }

  .BudgetBtns {
    width: 450px;
    cursor: pointer;
    button {
      cursor: pointer;
    }
  }

  .AddBtn {
    width: 450px;
    cursor: pointer;
  }

  button.AddBtn:hover {
    background-color: #fd8d38;
    border: 2px solid #fd8d38;
  }

  .ProductDetails {
    display: flex;
    gap: 150px;
  }

  hr{
    margin: 50px 0px;
  }

  .comments-list ul{
    margin-bottom: 50px;
  }

  .Link a:hover {
    color: #FF7E1B;
    text-decoration: underline;
  }

  .alisverissepeti {
    background-color: unset;
    border: unset;
    font-size: 20px;
    cursor: pointer;
  }

  .detail:hover {
    background-color: #FFEEE2;
    color: #FF7E1B;
  }
}